* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.num {
  width: 35px;
  height: 20px;
  border: 1px solid #84ff8a;
  text-align: center;
  font-size: 10px;
  margin: 5px 0;
  line-height: 20px;
}
.btnStyle {
  width: 35px;
  height: 20px;
  text-align: center;
}
#bf {
  position: absolute;
  top: 50px;
  left: 150px;
}

#jf {
  position: absolute;
  top: 50px;
  right: 150px;
}

#ja {
  position: absolute;
  bottom: 50px;
  right: 150px;
}

#ba {
  position: absolute;
  bottom: 50px;
  left: 150px;
}
#alak {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 3px solid blue;
  background-color: coral;
}
