*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #898989;
}

.display {
    position: relative;
    width: 90%;
    height: 100px;
    margin: auto;
    background-color: #4d4b4b;
    color: beige;
}

.gamepad {
    position: relative;
    width: 600px;
    height: 600px;
    margin: 10px auto;
    background-color: rgb(90, 56, 2);
    cursor: -webkit-grab;
    border: 4px solid rgb(48, 8, 8);
    cursor: grab;
    overflow: hidden;
}

.menu {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 15%;
    left: calc(100% - 20%);
    /* border: 1px solid black; */
    background-color: inherit;
}

.mouse_info {
    top: 10px;
    left: 5%;
    width: 40%;
    font-size: 1rem;
    position: relative;
    display: inline-block;
    background-color: inherit;
}

.player_info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
    font-size: 2.5rem;
    background-color: inherit;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.start {
    width: 70%;
    height: 2rem;
    line-height: 2rem;
    background-color: green;
    color: #f6f6f6;
    cursor: pointer;
}

.stop {
    background-color: red;
}

.start_stop:hover {
    background-color: rgb(4, 94, 4);
}

.start_stop:active {}

.mouse {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    background-color: transparent;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}