body {
    box-sizing: border-box;
    background-color: rgb(166, 208, 245);
}

.aircraft {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 100px;
    height: auto;
    /* color: black; */
}

.display_wrapper {
    width: 90%;
    height: 100px;
    margin: 0 auto;
    text-align: center;
}

.btn {
    width: 80px;
    height: 34px;
    margin: 10px auto;
    font-size: 16px;
    line-height: 26px;
    background-color: rgb(1, 40, 1);
    color: #CCC;
}

.message {
    color: blue;
}

.bomba {
    position: absolute;
    background-color: #333;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.enemy {
    position: absolute;
    bottom: 0;
}

.hideObj {
    display: none;
}

.display_score {
    font-size: 2rem;
    color: #333
}