* {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    top: 85vh;
    width: 100vw;
    height: 30px;
    /* border: 1px solid #666; */
    /* background-color: #000; */
}

.negyzet {
  position:relative;
  top:60vh;
  width: 100vw;
  height: 50px;
  border: 1px solid grey;

}

.circle-holder {
  position: relative;
  width:200px;

  left:50%;
   transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);

}

.circle1, 
.circle2, .circle3{
  position: absolute;
  width:20px;
  height:20px;
  background-color: blue;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.circle1 {
  top:0;
  left:0;
  opacity: 0.6;
  
}
.circle2 {  
  top:0;
  right:0;
  opacity: 0.6;
}

.circle3 {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.kor {
    position: absolute;
    left: 40%;
    top: 5px;
    width: 20px;
    height: 20px;
    background-color: rgb(23, 23, 79);
    opacity: 0;
    border-radius: 50%;
    transform:scale(.85);
    -webkit-border-radius:;
    350%-moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: 3s ease mozgas;
    -webkit-animation: 3s ease mozgas;
    -webkit-transform:scale(.85);
    -moz-transform:scale(.85);
    -ms-transform:scale(.85);
    -o-transform:scale(.85);
}





@-webkit-keyframes mozgas {
  0% {
    opacity:.1;
}
25% {
    opacity: .75;
    transform: translateX(45px);
    -webkit-transform: translateX(45px);
    -moz-transform: translateX(45px);
    -ms-transform: translateX(45px);
    -o-transform: translateX(45px);
}
  50% {
    opacity: 1;
    transform: translateX(85px) scale(1);
    -webkit-transform: translateX(85px) scale(1);
    -moz-transform: translateX(85px) scale(1);
    -ms-transform: translateX(85px) scale(1);
    -o-transform: translateX(85px) scale(1);
}

75% {
    opacity: .75;
    transform: translateX(125px);
    -webkit-transform: translateX(125px);
    -moz-transform: translateX(125px);
    -ms-transform: translateX(125px);
    -o-transform: translateX(125px);
}
  100% {
      opacity: 0;
      transform: translateX(130px) scale(.95);
      -webkit-transform: translateX(130px) scale(.95);
      -moz-transform: translateX(130px) scale(.95);
      -ms-transform: translateX(130px) scale(.95);
      -o-transform: translateX(130px) scale(.95);
}
}





@keyframes mozgas {
  0% {
    opacity:.1;
}
25% {
    opacity: .75;
    transform: translateX(45px);
    -webkit-transform: translateX(45px);
    -moz-transform: translateX(45px);
    -ms-transform: translateX(45px);
    -o-transform: translateX(45px);
}
  50% {
    opacity: 1;
    transform: translateX(85px) scale(1);
    -webkit-transform: translateX(85px) scale(1);
    -moz-transform: translateX(85px) scale(1);
    -ms-transform: translateX(85px) scale(1);
    -o-transform: translateX(85px) scale(1);
}

75% {
    opacity: .75;
    transform: translateX(125px);
    -webkit-transform: translateX(125px);
    -moz-transform: translateX(125px);
    -ms-transform: translateX(125px);
    -o-transform: translateX(125px);
}
  100% {
      opacity: 0;
      transform: translateX(130px) scale(.95);
      -webkit-transform: translateX(130px) scale(.95);
      -moz-transform: translateX(130px) scale(.95);
      -ms-transform: translateX(130px) scale(.95);
      -o-transform: translateX(130px) scale(.95);
}
}