*,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(180, 254, 229);
    color: #333;
}

span {
    font-weight: 800;
    background: inherit;
}

.info {
    position: relative;
    top: 0;
    width: 35%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    z-index: 11;
}

.info>h1,
.info>p {
    padding: 5px 20px;
    background-color: darkcyan;
    /* border: 1px spolid rgb(4, 57, 22); */
    color: aliceblue;
}

.level {
    padding-left: 30px;
}

.field {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid #555;
    margin: 0 auto;
    box-shadow: 0px 6px 8px rgba(85, 85, 85, 0.597);
    /* overflow: hidden; */
}

.colorBox {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #333;
    width: 50%;
    height: 50%;
    background-color: antiquewhite;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}

.monitor {
    position: absolute;
    top: 20px;
    left: 50%;
    width: 60%;
    height: 20%;
    text-align: center;
    font-size: 24px;
    color: rgb(4, 46, 28);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.message {
    width: 100%;
    color: red;
    font-size: 36px;
    text-shadow: 1px 1px 4px rgba(255, 0, 0, 0.612);
}

.ketto {
    width: 10vw;
    height: 20vh;
}

.harom {
    width: 20vw;
    height: 30vh;
}

.box2 {
    width: 50%;
    height: 50%;
}

.box3 {
    width: 33%;
    height: 33%;
}

.strBtn,
.quitBtn,
.restartBtn {
    cursor: pointer;
    position: relative;
    box-shadow: 0px 6px 8px rgba(85, 85, 85, 0.597);
    width: 100px;
    top: 30%;
    display: inline-block;
    margin-right: 30%;
    padding: 5px 16px;
    background-color: green;
    color: white
}

.quitBtn {
    margin-right: 0;
}

.quitBtn {
    /* /* cursor: pointer; */
    /* display: inline-block; */
    /* padding: 5px 16px; */
    margin-right: 0;
    background-color: red;
}

.strBtn {
    margin: 5px 20px;
}

.result {
    position: absolute;
    width: 100%;
    height: 7%;
    padding: 3.5%;
    background-color: darkgray;
    bottom: 30px;
    text-align: end;
}

.helpingBox {
    font-size: 10px;
    padding: 0 15px;
}

.helingText {
    color: #aaa;
}


/*mobilescreen*/

@media only screen and (max-width: 600px) {
    * {
        font-size: 12px;
    }
    .info {
        width: 55%;
    }
    .monitor {
        font-size: 16px;
    }
    .ketto {
        width: 40vw;
        height: 20vh;
    }
    .harom {
        width: 60vw;
        height: 30vh;
    }
    .strBtn,
    .quitBtn,
    .restartBtn {
        position: relative;
        box-shadow: 0px 6px 8px rgba(85, 85, 85, 0.597);
        /* cursor: pointer; */
        width: 70px;
        top: 100%;
        font-size: 12px;
        display: inline-block;
        margin-right: 15%;
        padding: 5px 12px;
        background-color: green;
        color: white
    }
    .quitBtn {
        /* /* cursor: pointer; */
        /* display: inline-block; */
        /* padding: 5px 16px; */
        margin-right: 0;
        background-color: red;
    }
}